body {
    font-family: calibri;
    font-size: 100%;
    background-color:#F0F0F0;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

#book {
    width: 80%;
    background-color: #DDD;
    padding: 10px;
    border: 1px solid grey;
    margin: 10px auto 0 auto;
}

#disable {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: grey;
    opacity: 0;
    display: none;
    top: 0;
    left: 0;
}

#list_home {
    display: block;
    margin: 10px auto 0 auto;
    width: 500px;
}

#list_home h1 {
    text-align: center;
}

.book_list {
    padding: 0 0 0 10px;
    margin: 0;
}

.book_list li {
    list-style-type: none;
}

.book_list li a {
    color: black;
}

#bubble {
    position: absolute;
    width: auto;
    height: auto;
    display: none;
}

#bubble:after {
    content: "▼";
    position: relative;
    opacity: 0.8;
    top: -4px;
    left: 5px;
}

#comment input {
    width: auto;
    display: block;
    border: none;
    background-color: black;
    opacity: 0.8;
    padding: 5px;
    color: white;
    font-size: 13px;
    font-family: 'Lucida Grande';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

div#hidden {
    display: inline;
    visibility: hidden;
    border: none;
    padding: 5px;
    width: auto;
    color: white;
    font-size: 13px;
    font-family: 'Lucida Grande';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

#alogin {
    border: 1px solid grey;
    background-color: #DDDDDD;
    width: 180px;
    padding: 5px 5px 0px 5px;
    margin: 10px auto 0 auto;
}

#alogin h1 {
    padding: 0;
    margin: 0;
    padding: 0 5px 5px 5px;
}

#alogin input {
    display: block;
    margin: 0 auto 10px auto;
    padding: 5px;
    width: 120px;
}

#alogout {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    display: block;
    text-align: right;
    padding: 5px;
}

#alogout:hover {
    color: red;
}

#admin_main {
    border: 1px solid black;
    width: 800px;
    margin: 10px auto 0 auto;
    -moz-box-shadow: 0px 0px 3px black;
    -webkit-box-shadow: 0px 0px 3px black;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
}

#added {
    width: 250px;
    float: left;
    height: 100%;
}

#added ul li {
    cursor: pointer;
    list-style-type: none;
    padding: 2px;
    text-decoration: underline;
    margin: 0;
}

#added ul li a {
    color: black;
    text-decoration: none;
}

#added ul {
    margin: 0;
    padding: 10px;
}

#added a#add_new {
    text-decoration: none;
    color: dodgerblue;
    padding: 10px;
}

#preview {
    float: right;
    width: 530px;
    border-left: 1px solid black;;
    padding: 5px;
    background-color: #DEDEDE;
}
#preview textarea {
    width: 524px;
    height: 400px;
}

#book_options {
    float: right;
    padding-right: 5px;
}

#book_options a {
    text-decoration: none;
}

#book_delete {
    color: red;
}

#book_save {
    color: black;
    margin-right: 10px;
}
#preview a:hover {
    color: dodgerblue;
}

#preview input {
    font-size: 18px;
    width: 504px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
}

#preview #notice {
    color: green;
    display: none;
}

#overlay {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    height: 100%;
    z-index: 1000;
}

#overlay img {
    display: block;
    margin: 100px auto 0 auto;
}
#dict {
    width: 100px;
    background-color: #000;
    opacity: 0.8;
    text-align: center;
    position: absolute;
    padding: 3px;
    display: none;
}   
#dict a {
    color: white;
    text-decoration: none;
}
